<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">

  <Package Manufacturer="Sener" Name="ExampleProductName"
      UpgradeCode="824c4c9c-417a-420b-a496-61a5b99ea7f2"
      Scope="perUser"
      Version="!(bind.FileVersion.R23dll)">

    <MediaTemplate EmbedCab="yes" CompressionLevel="high" />
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed"
                  AllowSameVersionUpgrades="no" />

    <ui:WixUI Id="Custom_WixUI_InstallDir" />
    <WixVariable Id="WixUIDialogBmp" Value="bannerLeft.png" />
    <WixVariable Id="WixUIBannerBmp" Value="bannerTop.png" />

    <StandardDirectory Id="AppDataFolder">
      <?foreach YY in 19;20;21;22;23 ?>
        <Directory Name="Autodesk\Revit\Addins\20$(YY)"               Id="Addins20$(YY)" />
        <Directory Name="Autodesk\Revit\Addins\20$(YY)\!(bind.Property.Manufacturer)\!(bind.Property.ProductName)" Id="Bin20$(YY)" />
      <?endforeach?>
    </StandardDirectory >

    <Feature Id="Main" >
      <?foreach YY in 19;20;21;22;23 ?>
        <Component Directory="Addins20$(YY)"> <File Source="..\BIMTools\BimToolsR$(YY).addin" />                      <RemoveFolder Id="Addins20$(YY)" On="uninstall"/> </Component>
        <Component Directory="Bin20$(YY)"> <File Source="..\BIMTools\bin\release\BimToolsR$(YY).dll" Id="R$(YY)dll"/> <RemoveFolder Id="Bin20$(YY)"    On="uninstall"/> </Component>

        <Component Directory="Bin20$(YY)"> <File Source="..\BIMTools\bin\release\BimToolsR$(YY).pdb" /> </Component>
        <Component Directory="Bin20$(YY)"> <File Source="..\BIMTools\bin\release\EPPlus.dll"         /> </Component>
        <Component Directory="Bin20$(YY)"> <File Source="..\BIMTools\bin\release\MdXaml.dll"         /> </Component>
        <Component Directory="Bin20$(YY)"> <File Source="..\BIMTools\bin\release\MdXaml.Plugins.dll" /> </Component>
      <?endforeach?>
    </Feature>

  </Package>
</Wix>
